html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.div {
    box-sizing: border-box;
}

.about {
    margin: 0 2rem 2rem 0;
}

.container {
    width: 80%;
    margin: 0.5rem auto;
    border: 1px solid #c6c6c6;
    border-radius: 1rem;
    padding: 1rem;
    background: white;
}

.buy {
    position: absolute;
    text-align: center;
    top: calc(50% - 1rem);
    left: 0;
    right: 0;
}
.shadow-block button {
    background: #fafffa;
    color: rgb(0, 0, 0);
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.product .shadow-block, .product .shadow-block-second {
    display: none;
} 

.product:hover .shadow-block, .product:hover .shadow-block-second {
    display: block;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
    text-align: center;
}

.product {
    width: 20%;
    border: 1px solid #dcdada;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    margin: 0.1rem;
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
}
.product:hover {
    transform: scale(102%);
    z-index: 2;
}

.product:hover:after {
    display: block;
    background: rgba(23, 14, 14, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1rem;
    text-align: center;
    content: ' ';
}

.product .img-container {
    text-align: center;
}

.add-to-cart {
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem
}

.item-name {
    color: #505aa5;
    font-size: 1rem;
    text-decoration: none;
}

.source {
    text-decoration: none;
}

.source:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    color:rgb(1, 2, 26);
    font-weight: 700;
}




/* выпадающий список*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
ul li {
    padding: .3rem 1rem;
    border: 1px solid #c6c6c6;
    border-top: none;
}

.filter-by-series {
    display: inline-block;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    position: relative;
}

.filter-by-series div {
    padding: .5rem 1rem;
}

.filter-by-series:hover ul {
    display: block;
    position: absolute;
    top: 2.2rem;
    left: 0;
    right: 0;
    background: white;
}

.filter-by-series ul li:hover {
    background: cornflowerblue;
    color: white;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

form {
    margin: 1rem auto;
    width: 50%;
}

input[type=text], input[type=password], [type=date],[type=file]{
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0;
}