html, body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.div {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0.5rem auto;
    border: 1px solid #c6c6c6;
    border-radius: 1rem;
    padding: 1rem;
    background: white;
}

.product {
    width: 20%;
    border: 1px solid #dcdada;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    margin: 0.1rem;
    display: inline-block;
    min-width: 200px;
    vertical-align: top;
}

.product .img-container {
    text-align: center;
}

.add-to-cart {
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem
}

.item-name {
    color: #505aa5;
    font-size: 1rem;
    text-decoration: none;
}

.source {
    text-decoration: none;
}

.source:hover {
    text-decoration: underline;
    cursor: pointer;
}

.price {
    color:rgb(1, 2, 26);
    font-weight: 700;
}




/* выпадающий список*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
ul li {
    padding: .3rem 1rem;
    border: 1px solid #c6c6c6;
    border-top: none;
}

.filter-by-series {
    display: inline-block;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    position: relative;
}

.filter-by-series div {
    padding: .5rem 1rem;
}

.filter-by-series:hover ul {
    display: block;
    position: absolute;
    top: 2.2rem;
    left: 0;
    right: 0;
    background: white;
}

.filter-by-series ul li:hover {
    background: cornflowerblue;
    color: white;
}
